<div class="jumbotron">
    <h1>Bannerflow</h1>
    <p class="lead">This is bannerflow RESTful CRUD web API in C# using ASP.NET.</p>
    <p><a href="/Help" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
